<section>
  <h2 class="headline-m">Sobre OdourCollect</h2>
  <app-accordion [title]="'¿Qué es la app de OdourCollect?'">
    <p>
      OdourCollect es una aplicación abierta que te permite mapear, valorar y
      compartir observaciones de olor en cualquier momento y lugar a través de
      la ciencia ciudadana. Puedes utilizarla para construir mapas de olor
      colaborativos, para reportar tanto buenos como malos olores con el fin de
      visibilizarlos, y así, mejorar la calidad de vida de la comunidad.
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      '¿Cómo funciona OdourCollect?¿Qué datos puedo ver en OdourCollect?'
    "
  >
    <p>
      La función principal de la app es la de añadir olores de tu entorno sobre
      el mapa. A través de la app podrás ver los olores según: origen, tipo de
      olor, intensidad y tono hedónico (si es agradable o desagradable). Una vez
      te hayas descargado la app y te hayas registrado, podrás añadir los olores
      sobre el mapa y ser parte de este gran mapa colaborativo del olor. También
      puedes ver y filtrar olores reportados por otras personas usuarias según
      tus intereses.
    </p>
  </app-accordion>
  <app-accordion [title]="'¿Qué es la ciencia ciudadana?'">
    <p>
      La Ciencia Ciudadana puede describirse como la participación del gran
      público en la investigación científica. A través de esta práctica, la
      ciudadanía puede participar en todo el proceso de investigación de
      diferentes maneras, desde la definición misma de la pregunta de
      investigación en proyectos altamente inclusivos, hasta la recopilación de
      datos, el análisis de datos y la creación conjunta de acciones con las
      partes interesadas involucradas.
    </p>
  </app-accordion>
  <app-accordion [title]="'¿Qué beneficios tiene el uso de OdourCollect?'">
    <p>
      Usando OdourCollect se integran los datos obtenidos en un mapa
      colaborativo que nos indica la situación odorífera en tiempo y espacio
      real. Todos los datos se encuentran en abierto, de esta manera, las
      personas usuarias pueden ver las observaciones de olor por parte de los
      miembros de la comunidad de OdourCollect.
    </p>
    <p>
      Este conocimiento olfativo identificar episodios de contaminación
      odorífera. De esta manera, se puede contribuir a la toma de decisiones
      informadas por evidencias, generando un impacto positivo en la comunidad.
    </p>
    <p>
      Por otro lado, también se puede caracterizar el paisaje olfativo mapeando
      buenos olores.
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      '¿Cómo se pueden utilizar los datos de OdourCollect para resolver problemas de olores en una comunidad?'
    "
  >
    <p>
      Los registros de olor reportados en OdourCollect son el primer paso para
      resolver un problema de olores en una comunidad afectada, debido a que
      permiten visibilizar la problemática y empodera a la ciudadanía para que
      pongan el tema en el mapa. Por primera vez, los datos en tiempo real sobre
      el impacto por olores se recogerán desde el punto de vista del receptor
      gracias a sus aportaciones, y se correlacionarán con las fuentes
      potencialmente generadoras de olor. A partir del análisis y validación de
      los datos, se podrá avanzar para codiseñar soluciones locales junto con
      las industrias emisoras de olores, los ayuntamientos locales y los vecinos
      contribuyentes, para mejorar su calidad de vida.
    </p>
  </app-accordion>
  <app-accordion
    [title]="'¿A día de hoy, ¿qué se ha conseguido con este proyecto?'"
  >
    <p>
      Gracias a todos los datos aportados por las personas usuarias y a la
      metodología que usa OdourCollect para monitorizar la contaminación por
      olor basada en la percepción de la ciudadanía, se ha elaborado la primera
      norma técnica UNE que incluye a la ciencia ciudadana para medir la
      contaminación por olor. (PNE 77270 “Construcción de mapas de olor
      colaborativos mediante ciencia ciudadana”)
    </p>
    <p>
      Para elaborar esta norma, han participado más de 15 personas expertas en
      olor y ciencia ciudadana, procedentes de diferentes sectores, incluyendo
      al sector público, al privado, a actividades generadoras de olor y a
      representantes de la ciudadanía.
    </p>
    <p>
      Esta norma permitirá establecer nuevos límites de inmisión en futuras
      regulaciones sobre olor para proteger a la ciudadanía, teniendo en cuenta
      su propia percepción en la evaluación del impacto.
    </p>
    <p>
      OdourCollect es la única app que permite introducir la variable del tono
      hedónico (si un olor es agradable o desagradable), una variable
      indispensable para dar cumplimiento a la norma.
    </p>
  </app-accordion>
</section>
