<div id="header" class="d-flex gap-3 justify-content-between align-items-center">
    <app-back-btn [route]="'profile/notifications/sfc'"/>
    OdourCollect
</div>
<div class="container-fluid">
    <div class="date">18/08/2023</div>
    <div class="message d-flex justify-content-end align-items-end gap-3">
        <div class="avatar position-sticky">
            <img src="/assets/images/notification-oc.png" alt="OdourCollect" height="64"/>
        </div>
        <div class="text">
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
            <p>
                ¡Hola Johana!
            </p>
            <p>
                Has registrado un olor en una zona de estudio y nos gustaría que formaras parte de ella.
                <br/>
                Colaborar en una zona de estudio implica que la información de tus registros...
            </p>
            <p>
                Equipo de OdourCollect.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-lg btn-primary">Aceptar</button>
    </div>
</div>