@import "../../../../../styles/colors";

fieldset{
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 5dvh;
    height: 100%;
    flex-wrap: nowrap;
    align-items: stretch;

    .oudor-types{
        display: flex;
        flex-direction: column;
        flex: auto;
        cursor: pointer;

    }
}
