<article
  [class]="
    'type-' +
    observation.relationships.odourSubType.relationships.odourType.slug
  "
>
  <header>
    <h2 class="body-l">
      {{
        observation.relationships.odourSubType.relationships.odourType.name
      }}:{{ observation.relationships.odourSubType.name }}
    </h2>
    <button (click)="onDeleteClick()">
      <icon-delete [iconClass]="iconClass" />
    </button>
  </header>
  <ul>
    <li>
      <icon-chart />
      <p class="label-l">{{ observation.relationships.odourIntensity.name }}</p>
    </li>
    <li>
      <icon-happy-face />
      <p class="label-l">
        {{ observation.relationships.odourHedonicTone.name }}
      </p>
    </li>
    <li>
      <icon-calendar />
      <p class="label-l">
        {{ observation.createdAt | date: 'dd/MM/yyyy, HH:mm:ss' }}
      </p>
    </li>
  </ul>
</article>
