<article>
    <div id="header">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
    </div>
    <section>
        <div class="d-flex justify-content-center align-items-center gap-1 pb-5">
            <icon-trophies [trophy]="0" [grey]="false" />
            <h1 class="headline-m text-center pe-5">¿Qué son las insignias?</h1>
        </div>
        <div class="d-flex flex-column gap-4">
            <p>
                Sabemos que regalar un perfume puede ser algo muy personal, por eso en 
                OdourCollect hemos encontrado una forma especial de agradecerte el tiempo 
                que has dedicado a usar nuestra aplicación: ¡con insignias personalizadas! 
            </p>
            <p>
                ¡Obtén distintas insignias según tu uso de OdourCollect y colecciona
                reconocimientos únicos y divertidos por tus logros!
            </p>
            <p>
                (... Explicación de cada insignia)
            </p>
        </div>
    </section>
</article>