<article>
    <div id="header">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
    </div>
    <section>
        <div class="d-flex justify-content-center align-items-center gap-1 pb-5">
            <icon-trophies [trophy]="0" [color]="true" />
            <h1 class="headline-m text-center pe-5">¿Qué son las insignias?</h1>
        </div>
        <div class="d-flex flex-column gap-4">
            <p>
                Sé el/la mejor mapeando olores y gana nuestra insignia de Informador/a al contribuir 
                con 5 registros de olor que ayuden a los investigadores/las personas investigadoras/al 
                personal técnico a comprender mejor la capa olfativa que te rodea. Además, debes 
                contribuir con dos likes a los registros de olor de otras personas usuarias.
            </p>
            <ul>
                <li>
                    ¿Quieres demostrar tus habilidades para medir el olor? Gana nuestra insignia de 
                    Explorador/a al contribuir con 10 registros de olor y cuatro likes a los registros 
                    de olor de otras personas usuarias.
                </li>
                <li>
                    Conviértete en un usuario/a multiplicador de la comunidad OdourCollect ganando 
                    nuestra insignia de Comunidad al contribuir con 30 registros de olor, dar 12 likes 
                    y comentar 3 registros de olor de otras personas usuarias. 
                </li>
                <li>
                    Ayuda a nuestra comunidad científica visibilizando el olor y gana nuestra insignia 
                    de Contribuyente al completar 40 registros de olor, dar 16 likes, comentar 8 registros 
                    de olor de otras personas usuarias y hacer parte de 3 zonas de estudio. 
                </li>
                <li>
                    ¿Quieres convertirte en una persona experta en mapear olores? ¡Gana nuestra insignia 
                    de experto/a al completar 60 registros de olor, dar 24 likes, comentar 12 registros 
                    de olor de otras personas usuarias y hacer parte de 5 zonas de estudio!
                </li>
            </ul>
            <p>
                Te animamos a continuar midiendo el olor y generando datos científicos para mejorar la calidad de vida en tu comunidad. 
            </p>
        </div>
    </section>
</article>