<article class="d-flex flex-column w-100">
  <div
    id="header"
    class="d-flex gap-3 justify-content-between align-items-center"
  >
    <button class="close-offcanvas" (click)="offcanvas.close()">
      <icon-arrow-left />
    </button>
    <h1 class="title-m text-center">Información</h1>
  </div>
  <section class="d-flex h-100 flex-column justify-content-center gap-4">
    <h2 class="headline-m">Puntos de observación</h2>
    <p class="text-start">
      A lo largo del mapa encontrarás puntos de observación que otros usuarios
      han publicado. Los diferentes colores están asociados a las diferentes
      intensidades y niveles de agradabilidad que cada uno ha escogido.
    </p>
    <ul class="d-flex flex-column gap-3">
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-1.png"
          alt="olor agradable"
          class="object-fit-contain"
        />
        <p class="text-start">El olor es una combinación de ninguna intensidad y es agradable</p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-2.png"
          alt="olor agradable"
        />
        <p class="text-start">El olor es una combinación de una baja intensidad y es agradable</p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-3.png"
          alt="olor agradable"
        />
        <p class="text-start">
          El olor es una combinación de una ligera intensidad y es generalmente
          agradable
        </p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-4.png"
          alt="olor agradable"
        />
        <p class="text-start">
          El olor es una combinación de una intensidad media y es ligeramente
          agradable
        </p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-5.png"
          alt="olor agradable"
        />
        <p class="text-start">
          El olor es una combinación de una intensidad media y es desagradable
        </p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-6.png"
          alt="olor agradable"
        />
        <p class="text-start">
          El olor es una combinación de una alta intensidad y es generalmente
          desagradable
        </p>
      </li>
      <li class="d-flex flex-row align-items-start gap-2">
        <img
          src="../../../../../assets/images/markers/marker-7.png"
          alt="olor agradable"
        />
        <p class="text-start">
          El olor es una combinación de una fuerte intensidad y es generalmente
          desagradable
        </p>
      </li>
    </ul>
  </section>
</article>
