@import "../../../../../styles/colors";

article {
  height: 100%;
  max-width: 425px;
  margin: 0 auto;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 16px 0;
  :first-child {
    top: 2px;
    position: absolute;
    width: fit-content;
    min-width: auto;
    background-color: transparent;
    border: none;
    padding: 0 16px;
  }
  p {
    width: 100%;
    text-align: center;
  }
}
section {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
}
