@import '../../../../../styles/colors';

section {
  background: white;
  border-radius: 40px 40px 0 0;
  bottom: -830px;
  padding: 30px 20px 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  &.open-filter {
    bottom: 0;
    position: fixed;
    transition: bottom 400ms ease-in-out;
  }
  &.closed-filter {
    position: fixed;
    transition: bottom 400ms ease-in-out;
  }

  .modal-header {
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 20px 20px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 42px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    .close {
      background-color: transparent;
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: auto;
      min-width: auto;
      padding: 0;
      position: absolute;
      right: 28px;
      top: 8px;
      width: 25px;
    }
    .close::after,
    .close::before {
      background: $grey-light;
      border-radius: 3px;
      content: ' ';
      height: 3px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .close::after {
      transform: rotate(-45deg);
    }
    .close::before {
      transform: rotate(45deg);
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100dvh - 186px);
    overflow-y: scroll;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    > * {
      display: flex;
      flex: auto;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: space-between;
      margin-top: 10px;
      padding-bottom: 20px;

      .btn-secondary {
        background-color: white;
        color: $black;
        border: 1px solid $black;
      }

      #types {
        div {
          gap: 8px;
        }
      }

      .type-button {
        border: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 24px;
        padding: 8px 12px;
      }

      .type-agriculture-livestock {
        background-color: $green-lighter;
        color: $grey-dark;
      }
      .type-food-industries {
        background-color: $violet-lighter;
        color: $grey-dark;
      }
      .type-industrial {
        background-color: $orange-lighter;
        color: $grey-dark;
      }
      .type-urban {
        background-color: $yellow-lighter;
        color: $grey-dark;
      }
      .type-waste-water {
        background-color: $blue-lighter;
        color: $grey-dark;
      }

      .active-type-agriculture-livestock {
        background-color: $green;
        color: $black;
      }
      .active-type-food-industries {
        background-color: $violet;
        color: $black;
      }

      .active-type-industrial {
        background-color: $orange;
        color: $black;
      }

      .active-type-urban {
        background-color: $yellow;
        color: $black;
      }

      .active-type-waste-water {
        background-color: $blue;
        color: $black;
      }
    }
  }
}
