<article>
  <app-back-btn>Volver</app-back-btn>
  <section class="d-flex flex-column h-100 align-items-center" *ngIf="user">
    <div class="d-flex justify-content-center" >
      <div id="picture" [style.background-image]="'url(/assets/images/avatars/' + user.avatar_id +'.svg)'">
        <icon-verified/>
      </div>
    </div>
    <h1 class="body-l text-center mb-2" *ngIf="user">Usuario {{user.id}}</h1>
    <span class="label-m text-center d-flex justify-content-center mb-2 gap-2 color-grey">Usuario entrenando <a><icon-info-square/></a></span>
    <div class="d-flex justify-content-center column-gap-3 flex-wrap">
      <icon-trophies [trophy]="0" [grey]="false" />
      <icon-trophies [trophy]="1" [grey]="true" />
      <icon-trophies [trophy]="2" [grey]="true" />
      <icon-trophies [trophy]="3" [grey]="true" />
      <icon-trophies [trophy]="4" [grey]="true" />
    </div>
    <p class="text-center mb-3">
      El olor a café y tostadas de mi casa al despertarme los domingos :)
    </p>
    <div class="odour-stats mb-4">
      <p class="headline-l">{{ user.total_observations || 0 }}</p>
      <p class="body-l">Olores registrados</p>
    </div>
    <div *ngIf="user.relationships.odourObservations.length > 0">
      <h2 class="headline-s text-center mb-4">Últimos olores registrados</h2>
      <ul id="recent-oudours" class="d-flex flex-column w-100 body-l gap-3 ps-2 pe-2">
        <li *ngFor="let obs of user.relationships.odourObservations | slice:0:3;" class="d-flex flex-fill gap-3 justify-content-between align-items-center">
          <span>{{obs.relationships.odourSubType.name}}</span>
          <a (click)="showOnMap(obs)" class="color-violet-dark text-end">Ver en el mapa</a>
        </li>
      </ul>
    </div>
  </section>
</article>