<article>
  <section>
    <p>
      Debe ser diferente de tus <br />
      contraseñas anteriores y tener <br />
      al menos 8 caracteres.
    </p>
  </section>
  <form [formGroup]="createPasswordRecover">
    <div class="mb-3">
      <label for="old_password" class="label-l"
        >Introduce tu contraseña actual</label
      >
      <div class="border-input input-password">
        <input
          formControlName="old_password"
          [type]="showCurrentPassword ? 'text' : 'password'"
          class="border-input"
          name="old_password"
        />
        <button type="button" tabindex="-1" (click)="toggleShowCurrentPassword()">
          <icon-eye *ngIf="!showCurrentPassword"></icon-eye>
          <icon-close-eye *ngIf="showCurrentPassword"></icon-close-eye>
        </button>
      </div>  
      <app-form-error-list 
        *ngIf="createPasswordRecover.get('old_password')?.touched && createPasswordRecover.get('old_password')?.errors" 
        [errorList]="createPasswordRecover.get('old_password')?.errors"/>
        
    </div>
    <div class="mb-3">

      <label for="new_password" class="label-l">Nueva contraseña</label>
      <div class="border-input input-password">
        <input
          formControlName="new_password"
          [type]="showPassword ? 'text' : 'password'"
          class="border-input"
          name="new_password"
        />
        <button type="button" tabindex="-1" (click)="toggleShowPassword()">
          <icon-eye *ngIf="!showPassword"></icon-eye>
          <icon-close-eye *ngIf="showPassword"></icon-close-eye>
        </button>
      </div>
      <app-form-error-list 
        *ngIf="createPasswordRecover.get('new_password')?.touched && createPasswordRecover.get('new_password')?.errors" 
        [errorList]="createPasswordRecover.get('new_password')?.errors"/>

    </div>
    <div class="mb-3">
      <label for="new_password_confirmation" class="label-l"
        >Repite la nueva contraseña</label
      >
      <div
        class="border-input input-password"
        [ngClass]="
          passwordMatchError
            ? 'invalid-input border-input input-password'
            : 'border-input input-password'
        "
      >
        <input
          formControlName="new_password_confirmation"
          [type]="showConfirmPassword ? 'text' : 'password'"
          class="border-input"
          name="password_confirmation"
        />
        <button
          type="button"
          tabindex="-1"
          (click)="toggleShowConfirmPassword()"
        >
          <icon-eye *ngIf="!showConfirmPassword"></icon-eye>
          <icon-close-eye *ngIf="showConfirmPassword"></icon-close-eye>
        </button>
        </div>   
        <app-form-error-list 
          *ngIf="createPasswordRecover.get('new_password_confirmation')?.touched && createPasswordRecover.get('new_password_confirmation')?.errors" 
          [errorList]="createPasswordRecover.get('new_password_confirmation')?.errors"/>

    </div>

    <a
      class="label-l"
      [routerLink]="['/recover-password']"
      routerLinkActive="active"
      >¿Olvidaste tu contraseña?</a
    >

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        [disabled]="!createPasswordRecover.valid || loading"
        class="btn btn-primary"
        (click)="send()"
        [ngClass]="{ loading: loading }"
      >
        Hecho
      </button>
    </div>
  </form>
</article>
