@import "../../../../../styles/colors";


#header{
  padding: 23px 17px 0;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 10px 10px white;
  z-index: 1;
  h1{
      padding-top: 15px;
  }
  &::after {
      content: " ";
      display: block;
      width: 17px;
  }
}
article {
  display: grid;
  gap: 7px;
  padding-bottom: 5%;
  place-content: center;
  text-align: center;
  width: 100%;
  section,
  form {
    padding-left: 45px;
    padding-right: 45px;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    gap: 18px;
    p {
      color: $grey-dark;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 100dvw;
    label {
      margin-bottom: 5px;
      text-align: start;
      width: 100%;
    }
    button[type="submit"] {
      color: $black;
      margin-top: 24px;
      margin-bottom: 18px;
      width: 100%;
      &:hover,
      &:active {
        background-color: $violet-dark;
      }
    }
    .btn:disabled {
      background-color: $violet-light;
      color: $black;
    }
  }
  a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  #messages {
    // margin-top: ;
    height: 50px;
  }
}
