@import "../../../../styles/colors";

.error-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 40px;
  color: $error;
  position: relative;
  icon-danger{ 
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
