<section>
  <h2 class="headline-m">Sobre el funcionamiento de OdourCollect</h2>
  <app-accordion [title]="'¿La aplicación OdourCollect es gratuita?'">
    <p>
      Sí. Tanto para los dispositivos Android e IOS y también a través de la
      página web www.odourcollect.eu y también a través de la página web
      www.odourcollect.eu
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      '¿Es difícil mapear olores? ¿Hay algún tipo de entrenamiento para poder mapear las observaciones de olor?'
    "
  >
    <p>
      No es difícil mapear olores pero desde OdourCollect impartimos diferentes
      actividades prácticas de entrenamiento a la ciudadanía aprende a
      identificar y poner nombre a los diferentes tipos de olor, a valorar la
      intensidad y la agradabilidad del olor.El objetivo de nuestras formaciones
      es conseguir uniformidad de los registros de olor y evaluaciones de
      calidad.
    </p>
    <p>
      Se organizaran sesiones de formación y te avisaremos para que puedas
      participar en alguna de ellas..
      <br />¡Te mantendremos al tanto!
    </p>
  </app-accordion>
  <app-accordion
    [title]="'¿Qué debo hacer para mapear una observación de olor?'"
  >
    <p>
      Si tienes una cuenta de OdourCollect puedes aportar tus propias
      observaciones de olor en sólo 30 segundos:
    </p>
    <ol>
      <li>
        Toca en el botón “+” que aparece en la parte central inferior de la
        pantalla.
      </li>
      <li>Selecciona el tipo y subtipo de olor</li>
      <li>Indica su intensidad y su agradabilidad</li>
      <li>
        Indica si conoces la fuente de origen y da más detalles si lo consideras
        oportuno
      </li>
    </ol>
  </app-accordion>
  <app-accordion [title]="'¿Quiénes pueden usar OdourCollect?'">
    <p>
      Es una app abierta a todos los públicos, por tanto, todas las personas que
      tengan acceso a internet, ya sea a través de la APP o de la página web, y
      tengan activada la geolocalización pueden mapear olores.
    </p>
  </app-accordion>
  <app-accordion [title]="'¿Puedo reportar olores agradables y desagradables?'">
    <p>
      ¡Sí! En OdourCollect se pueden registrar todo tipo de olores cono
      industriales, urbanos, de naturaleza, de comida o de residuos.
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      ' ¿Puedo usar OdourCollect para reportar olores en cualquier lugar del mundo?'
    "
  >
    <p>
      Sí, se pueden reportar olores en cualquier momento y lugar del mundo,
      siempre y cuando tengas internet, ya sea a través de la APP o de la página
      web, y tengas activada la geolocalización, ¡podrás mapear olores por todo
      el mundo!
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      '¿Cómo puedo saber si mi observación de olor ha sido registrada correctamente?'
    "
  >
    <p>
      Para comprobar si tu observación de olor ha sido añadida correctamente,
      puedes acceder al apartado de “mis olores” para comprobar que el olor que
      aparece en la lista es el que has registrado. Siempre que tengas acceso a
      internet, los olores se guardarán automáticamente.
    </p>
  </app-accordion>
  <app-accordion
    [title]="
      '¿Cuánto tiempo tarda en aparecer mi observación en el mapa de olores?'
    "
  >
    <p>
      Puede variar según la calidad del internet que se disponga en el momento
      de introducir los datos.
    </p>
  </app-accordion>
</section>
