@import '../../../../../styles/colors';

fieldset {
  padding: 0 28px;

  #subtype-title {
    position: relative;
  }

  .subtype-option {
    max-width: max-content;
    padding: 12px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.6px;
    &.type-country-and-nature {
      &:hover,
      &:active {
        background-color: $green;
      }
    }
    &.type-food {
      &:hover,
      &:active {
        background-color: $violet;
      }
    }
    &.type-industry {
      &:hover,
      &:active {
        background-color: $orange;
      }
    }
    &.type-urban {
      &:hover,
      &:active {
        background-color: $yellow;
      }
    }
    &.type-wastewater-and-waste {
      &:hover,
      &:active {
        background-color: $blue;
      }
    }

    &.type-country-and-nature.selected {
      background-color: $green;
    }
    &.type-food.selected {
      background-color: $violet;
    }
    &.type-industry.selected {
      background-color: $orange;
    }
    &.type-urban.selected {
      background-color: $yellow;
    }
    &.type-wastewater-and-waste.selected {
      background-color: $blue;
    }
  }
}
