@import '../../../../../styles/colors';

#header {
  padding: 23px 17px 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  h1 {
    padding-top: 15px;
  }
  &::after {
    content: ' ';
    display: block;
    width: 17px;
  }
}

section {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 425px;
  margin: 0 auto;
}

.study-container {
  text-decoration: none;
  > div {
    padding: 21px 16px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $violet-lighter;
    margin-bottom: 20px;
    p {
      color: $black;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
