<section class="mt-3">
  <ul>
    <li>
      <a routerLink="/profile/my-study-zones/id" class="study-container">
        <div>
          <div>
            <p class="label-l">Nombre Zona Estudio B</p>
            <button class="btn btn-primary">Eliminar</button>
          </div>
          <icon-arrow-right2 [iconClass]="'icon-black'" />
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/profile/my-study-zones/id" class="study-container">
        <div>
          <div>
            <p class="label-l">Nombre Zona Estudio B</p>
            <button class="btn btn-primary">Eliminar</button>
          </div>
          <icon-arrow-right2 [iconClass]="'icon-black'" />
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/profile/my-study-zones/id" class="study-container">
        <div>
          <div>
            <p class="label-l">Nombre Zona Estudio B</p>
            <button class="btn btn-primary">Eliminar</button>
          </div>
          <icon-arrow-right2 [iconClass]="'icon-black'" />
        </div>
      </a>
    </li>
  </ul>
</section>
