<div id="header">
  <app-back-btn/>
</div>
<article *ngIf="!checkEmail; else notActivate">
  <section>
    <h1 class="headline-m">
      Reestablecer<br />
      contraseña
    </h1>
    <p>
      Introduce el correo<br />
      asociado a tu cuenta
    </p>
  </section>
  <form [formGroup]="recoverPassword">
    <div class="mb-3">
      <label for="email" class="label-l">Correo electrónico</label>
      <input formControlName="email" type="email" class="border-input" name="email"/>
      <app-form-error-list 
        *ngIf="recoverPassword.get('email')?.touched && recoverPassword.get('email')?.errors" 
        [errorList]="recoverPassword.get('email')?.errors"/>

    </div>
    
    <div class="d-flex justify-content-center">
      <button type="submit" [disabled]="!recoverPassword.valid || loading" class="btn btn-primary" (click)="send()" [ngClass]="{'loading':loading}">
        Enviar correo
      </button>
    </div>
  </form>
</article>
<ng-template #notActivate>
  <app-check-email [checkEmail]="toggleCheckEmail"></app-check-email>
</ng-template>
