<article>
  <header>
    <app-back-btn></app-back-btn>
    <p>Sobre OdourCollect</p>
  </header>
  <section>
    <icon-odour-collect></icon-odour-collect>
    <div>
      <p>
        OdourCollect permite mapear, valorar y compartir observaciones de olor
        en cualquier momento y lugar a través de la ciencia ciudadana.
      </p>
      <p>
        Integramos los datos obtenidos en un mapa colaborativo que nos indica la
        situación odorífera de cada región en tiempo real.
      </p>
      <p>
        Este conocimiento olfativo contribuye en la toma de decisiones
        informadas en evidencias, generando un impacto positivo en la comunidad.
      </p>
    </div>
    <a
      rel="nofollow"
      target="_blank"
      href="https://www.scienceforchange.eu/proyectos/odourcollect"
      ><p>Saber más</p>
      <icon-arrow-right2></icon-arrow-right2
    ></a>
  </section>
</article>
