<app-header />
<main>
  <mgl-map
    [style.display]="!displayMap ? 'none' : 'flex'"
    [style]="mapSettings.mapStyle"
    [zoom]="mapSettings.zoom"
    [center]="mapSettings.centerMapLocation"
    [minZoom]="mapSettings.minZoom"
    [maxZoom]="mapSettings.maxZoom"
    (mapLoad)="onMapLoad($event)"
    (zoomStart)="deletePointsSpiderfy($event)"
    (mapTouchStart)="deletePointsSpiderfy($event)"
  >
    <ng-container *ngIf="observations">
      <mgl-geojson-source
        id="observations"
        [data]="observations"
        [cluster]="true"
        [clusterMaxZoom]="mapSettings.clusterMaxZoom"
        [clusterRadius]="50"
      />
      <mgl-layer
        id="clusters"
        type="circle"
        source="observations"
        (layerClick)="centerZoomCluster($event)"
        (layerMouseEnter)="mouseEvent($event)"
        (layerMouseLeave)="mouseEvent($event)"
        [filter]="['has', 'point_count']"
        [paint]="{
          'circle-color': '#D7B1F2',
          'circle-radius': 20,
          'circle-stroke-color': 'rgba(215, 177, 242, 0.5)',
          'circle-stroke-width': 5
        }"
      />
      <mgl-layer
        id="cluster-count"
        type="symbol"
        source="observations"
        [filter]="['has', 'point_count']"
        [layout]="{
          'text-field': '{point_count_abbreviated}',
          'text-font': ['Space Grotesk Medium'],
          'text-size': 12
        }"
        [paint]="{
          'text-color': '#ffffff'
        }"
      >
      </mgl-layer>
      <mgl-layer
        id="unclustered-point"
        type="symbol"
        source="observations"
        [filter]="['!has', 'point_count']"
        (layerClick)="getMoreInfoAbout($event)"
        (layerMouseEnter)="mouseEvent($event)"
        (layerMouseLeave)="mouseEvent($event)"
        [layout]="{
          'icon-image': [
            'match',
            ['get', 'type'],
            'agriculture-livestock',
            'agriculture-livestock-icon',
            'food-industries',
            'food-industries-icon',
            'urban',
            'urban-icon',
            'waste-water',
            'waste-water-icon',
            'industrial-icon'
          ],
          'icon-size': 0.7,
          'icon-allow-overlap': true,
          'icon-ignore-placement': true
        }"
      >
      </mgl-layer>
      <mgl-geojson-source
        id="observationsSpiderfy"
        [data]="observationsSpiderfy"
        [cluster]="false"
      />
      <mgl-layer
        id="unclustered-point-spiderfy"
        type="symbol"
        source="observationsSpiderfy"
        (layerClick)="getMoreInfoAbout($event)"
        (layerMouseEnter)="mouseEvent($event)"
        (layerMouseLeave)="mouseEvent($event)"
        [layout]="{
          'icon-image': [
            'match',
            ['get', 'type'],
            'agriculture-livestock',
            'agriculture-livestock-icon',
            'food-industries',
            'food-industries-icon',
            'urban',
            'urban-icon',
            'waste-water',
            'waste-water-icon',
            'industrial-icon'
          ],
          'icon-size': 0.7,
          'icon-allow-overlap': true,
          'icon-ignore-placement': true,
          'icon-offset': ['get', 'iconOffset']
        }"
      />
    </ng-container>
    <ng-container *ngIf="studyZone">
      <mgl-geojson-source id="studyZone" [data]="studyZone" />
      <mgl-layer
        id="studyZone"
        type="fill"
        before="clusters"
        source="studyZone"
        [paint]="{
          'fill-color': '#D7B1F2',
          'fill-opacity': 0.5
        }"
      />
    </ng-container>
  </mgl-map>
  <router-outlet />
</main>
<app-footer [ngClass]="{ close: !isVisible }" />
<app-alert />
