<div class="modal-header align-items-center justify-between pb-0">
    <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close" (click)="modal.close()">
        <span></span>
        <span></span>
    </button>
</div>

<div class="modal-body">
    <p class="text-center">
        {{config.text || '¿Estás segura/o?'}}
    </p>
</div>

<div class="modal-footer mt-4 px-0 gap-3 justify-content-center">
    <button type="button" class="btn btn-primary" [class]="config.acceptButtonClass" (click)="modal.dismiss(true)">
        {{config.acceptButtonText || 'Aceptar'}}
    </button>
    <button type="button" class="btn btn-outline-primary" [class]="config.cancelButtonClass" (click)="modal.dismiss(false)">
        {{config.cancelButtonText || 'Cancelar'}}
    </button>
</div>
