<!-- TODO hay que cambiar de odourType a odour id por la internalización -->

  <!-- Box del tipo con el bolb y el icono -->
  <div [class]="'type-' + odourType + ' ' + iconClass">
    <div *ngIf="odourType === 'country-and-nature'">
      <icon-nature class="odour-icon" />
    </div>
    <div *ngIf="odourType === 'food'">
      <icon-food class="odour-icon" />
    </div>
    <div *ngIf="odourType === 'industry'">
      <icon-factory class="odour-icon" />
    </div>
    <div *ngIf="odourType === 'urban'">
      <icon-urban class="odour-icon" />
    </div>
    <div *ngIf="odourType === 'wastewater-and-waste'">
      <icon-waste class="odour-icon" />
    </div>
    <p
      [ngClass]="
        iconClass === 'odour-type' || iconClass === 'odour-type-information'
          ? 'headline-m'
          : 'label-l'
      "
    >
      {{ odourName }}
      {{ odourSubtypeName ? '- ' + odourSubtypeName : ''}}
    </p>
  </div>
