<article>
    <div id="header">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
    </div>
    <section>
        <div class="d-flex justify-content-center align-items-center gap-3 pb-5">
            <h1 class="headline-m text-center ps-5 pe-5">Sobre la fuente de olor</h1>
        </div>
        <div class="d-flex flex-column gap-4">
            <p>
                Una <span class="color-violet">fuente de olor</span> es es el lugar, el objeto o actividad de donde proviene 
                el olor. Las fuentes pueden ser naturales (flores, alimentos...) o artificiales
                (industrias, productos químicos...) entre muchos otros.
            </p>
            <p>
                Por tanto, las fuente de olor es el origen del olor que percibimos y su 
                identificación puede ser clave para prevenir problemas y mantener un entorno 
                saludable.
            </p>
        </div>
    </section>
</article>