<article>
    <div id="header">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
    </div>
    <section>
        <div class="d-flex justify-content-center align-items-center gap-3 pb-5">
            <icon-verified/>
            <h1 class="headline-m text-center pe-5">¿Qué significa ser una persona usuaria entrenada?</h1>
        </div>
        <div class="d-flex flex-column gap-4">
            <p>
                Una persona usuaria entrenada es aquella que ha participado en nuestras 
                sesiones de formación de olores. En estas sesiones a través de diferentes 
                actividades prácticas la ciudadanía aprende a identificar y poner nombre 
                a los diferentes tipos de olor, a valorar la intensidad y la agradabilidad 
                del olor según los estándares alemanes VDI 3882 Parte 1 y Parte 2 
                (mismas escalas que se utiliza OdourCollect).
            </p>
            <p>
                Se organizaran sesiones de formación y te avisaremos para que puedas 
                participar en alguna de ellas.  El objetivo de nuestras formaciones es 
                conseguir uniformidad de los registros de olor y evaluaciones de calidad.
            </p>
            <p>
                ¡Te mantendremos al tanto!
            </p>
        </div>
    </section>
</article>
  