<article>
  <section>
    <icon-social-connection></icon-social-connection>
    <p class="body-l">
      Siéntete parte de una comunidad mundial que tiene el poder de hacer
      visible lo invisible.
    </p>
    <h2 class="headline-s">¡Forma parte de OdourCollect!</h2>
  </section>
  <section>
    <a [routerLink]="['/signup']"  routerLinkActive="active">
        <button>Registrarme</button>
    </a>
    <a [routerLink]="['/login']"  routerLinkActive="active">
        <button>Iniciar sesión</button>
    </a>
    <a [routerLink]="['/map']"  routerLinkActive="active">
        <button>Continuar como invitado</button>
    </a>
  </section>
</article>
