<div class="offcanvas-header d-flex justify-content-between">
    <app-odour-type-icon 
    [iconClass]="'inline-type'" 
    [odourType]="observation.relationships.odourSubType.relationships.odourType.slug" 
    [odourName]="observation.relationships.odourSubType.relationships.odourType.name"
    />
    
    <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close" (click)="offcanvas.close()">
        <span></span>
        <span></span>
    </button>
</div>

<div class="offcanvas-body d-flex flex-column align-items-center h-100 pt-4" #commentaries>
    <div *ngIf="observation.relationships.comments.length; else noComments" class="comments d-flex flex-column gap-4">
        <ng-container *ngFor="let comment of observation.relationships.comments">
            <div *ngIf="comment.user_id == user.id; else otherUserComment" [id]="'comment-' + comment.id" class="comment own d-flex justify-content-end align-items-center gap-3" >
                <div class="text" (click)="toggleDeleteButton($event)" >
                    <p>
                        {{comment.body}}
                    </p>
                </div>
                <button class="btn btn-primary delete-comment" (click)="deleteComment(comment.id)" [ngClass]="{'loading' : loadingDelete}">
                    <icon-delete />
                </button>
            </div>
            <ng-template #otherUserComment>
                <div class="comment d-flex justify-content-end align-items-end gap-3" #otherUserComment>
                    <div class="avatar position-sticky">
                        <img [src]="'/assets/images/avatars/' + 1 + '.svg'" alt="OdourCollect" height="64"/>
                    </div>
                    <div class="text">
                        <p>
                            {{comment.body}}
                        </p>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <ng-template #noComments>
        <h1 class="title-l mt-5">
            Sé la primera persona en comentar.
        </h1>
    </ng-template>
</div>

<div class="offcanvas-footer d-flex flex-column">
    <form [formGroup]="commentaryForm" class="d-flex align-items-end justify-content-end gap-2">
        <textarea formControlName="commentary" id="commentary" name="commentary" placeholder="Escribe un comentario..." #commentary (input)="resizeTextArea()" (focus)="focusOnLastCharacter()"></textarea>
        <button type="submit" class="btn btn-primary" [disabled]="!commentaryForm.valid || loading" type="submit" (click)="send()" [ngClass]="{'loading' : loading}"><icon-arrow-right /></button>
    </form>
</div>
