<article>
    <div id="header" class="d-flex gap-3 justify-content-between align-items-center">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
        <h1 class="title-m text-center">Protección de datos personales</h1>
    </div>
    <section>
        <div class="d-flex flex-column gap-4 mt-5">
            <h1 class="headline-m text-center">
                Política de privacidad 
            </h1>
            <p>
                Querido voluntario/a
            </p>
            <p>
                ¿Estás dispuesto a participar en OdourCollect, un proyecto de ciencia ciudadana 
                basado en la implicación directa de ciudadanos, responsables políticos, científicos, 
                industrias y PYME para hacer frente a la contaminación por olores? 
            </p>
            <p>
                Para OdourCollect es esencial que entiendas qué datos personales estamos recogiendo 
                y cómo vamos a tratar esta información. Nos preocupamos por tus datos personales y 
                tus derechos sobre ellos. Tus datos serán tratados de forma lícita, con sujeción en 
                todo momento a los principios y derechos consagrados en el Reglamento General de 
                Protección de Datos (Directiva de la EU 2016/679), la LOPDGDD 3/2018 y todas las 
                demás normativas relevantes en materia de protección de datos personales. 
            </p>
            <p>
                Por favor, lee esta información cuidadosamente. Si tienes alguna duda o algo no te queda
                claro, escríbenos al correo electrónico <a href="mailto:hello@scienceforchange.eu">hello@scienceforchange.eu</a> 
            </p>
            <h3 class="title-l">
                Responsable del tratamiento
            </h3>
            <p>
                Identidad: SCIENCE FOR CHANGE<br/>
                C.I.F: B67362392<br/>
                Domicilio: C/ Vilamarí, n.º 50, 7º, 08015, Barcelona, España<br/>
                Dirección de correo electrónico: hello@scienceforchange.eu<br/>
                Web: https://www.scienceforchange.eu/<br/>
                Teléfono: 932 43 33 10                
            </p>

            <h3 class="title-l">
                Datos personales tratados  
            </h3>
            <p>
                Recolectaremos diferentes tipos de datos. Para la utilización de OdourCollect te 
                solicitaremos  los siguientes Datos Personales:
            </p>
            <ul>
                <li>Correo electrónico</li>
                <li>Rango de edad</li>
                <li>Apodo </li>
                <li>Sexo</li>
                <li>Lugar de residencia.</li>
                <li>Geolocalización</li>
                <li>Fecha y la hora de tu registro. </li>
            </ul>
            
            
            <h3 class="title-l">
                Propósito del tratamiento de datos personales
            </h3>
            <p>
                Science for Change trata tus datos personales con el propósito de permitir el 
                funcionamiento de Odour Collect, para generar datos de olores, y para mantenerte 
                informado sobre el proyecto.
            </p>
            <p>
                El correo electrónico y el apodo son necesarios para la creación de tu cuenta de 
                usuario y solo seránutilizados para que puedas usar Odour Collect. Si no tienes 
                un usuario registrado y decides reportar una incidencia de olores, tú correo 
                electrónico será utilizado para contactarte. También, si estás de acuerdo y así lo 
                manifiestas, utilizaremos tu correo para enviarte información sobre eventos 
                específicos o sobre resultados relacionados con el proyecto. 
            </p>
            <p>
                La información sobre tu edad, sexo y lugar de residencia serán utilizados exclusivamente 
                con fines estadísticos. Finalmente, los datos de geolocalización serán utilizados 
                únicamente con el objetivo de generar datos de olores, es decir, para determinar 
                el lugar de las emisiones. 
            </p>
            
            <h3 class="title-l">
                Legitimación del tratamiento
            </h3>
            <p>
                La base de legitimación del tratamiento de los datos es el consentimiento que otorga el 
                usuario al seleccionar la casilla de aceptación de nuestra política de privacidad, la 
                casilla sobre cuestiones humanas y éticas, y la casilla sobre información y comunicaciones 
                de Odour Collect. El usuario tiene derecho a revocar su consentimiento en cualquier 
                momento sin que ello afecte a la licitud del tratamiento basado en el consentimiento 
                previo a su retirada.
            </p>
            
            <h3 class="title-l">
                Cesión o comunicación de datos personales y transferencias internacionales
            </h3>
            <p>
                Sus datos no se comunicarán ni serán cedidos a terceros, salvo que exista alguna obligación 
                legal o aquellos prestadores vinculados al Responsable que actúan como encargados del tratamiento.
                No se realizan transferencias internacionales, para el caso en que en algún momento pudieran 
                realizarse, se le comunicarán con el objeto de obtener su consentimiento.

            </p>
            
            <h3 class="title-l">
                Periodo de retención
            </h3>
            <p>
                Estos datos se conservarán durante el tiempo estrictamente necesario para cumplir con la finalidad 
                para la que fueron recabados y, solo mientras el usuario no revoque su consentimiento al 
                tratamiento de los mismos.
            </p>

            <h3 class="title-l">
            Tus derechos y cómo ejercerlos
            </h3>
            <p>
                El usuario puede ejercer todos los derechos reconocidos por el RGPD 2016/679 y demas normativa vigente
                relativa a la protección de datos. En particular, tiene los siguientes derechos:
            </p>
            <ul>
                <li>
                    Solicitar información sobre los datos personales que tenemos sobre ti y, en caso afirmativo, 
                    qué información tenemos, por qué la tenemos y cómo la estamos utilizando.
                </li>
                <li>
                    Solicitar acceso a tus datos personales. Esto te permite recibir una copia de tus datos personales
                    y corregir cualquier información incompleta o incorrecta que tengamos sobre ellos.
                </li>
                <li>
                    Solicitar la limitación del tratamiento de tus datos y oponerte al tratamiento de los mismos 
                    revocando su consentimiento.
                </li>
                <li>
                    Solicitar la eliminación de tus datos personales. Esto te permite borrar o pedirnos que 
                    borremos tus datos personales.
                </li>
                <li>
                    Solicitar la transferencia de tus datos personales a ti o a un tercero en un formato electrónico
                    y estructurado - comúnmente conocido como el derecho a la portabilidad de datos.
                </li>
            </ul>
            <p>
                Puede ejercer sus derechos contactando con en la siguiente casilla de correo electrónico: <a href="mailto:hello@scienceforchange.eu">hello@scienceforchange.eu</a>.
                Si considera que sus derechos no se han atendido debidamente, tiene derecho a presentar una reclamación 
                ante la <a href="http://www.aepd.es" target="_blank">Española de Protección de Datos</a>.
            </p>
        
            <h3 class="title-l">
                Tratamiento de datos de menores de edad
            </h3>
            <p>
                Quien facilita los datos a través de los formularios de esta web y acepta su tratamiento declara ser 
                mayor de 14 años, quedando prohibido el acceso y uso del portal a menores de dicha edad. Si en algún momento, 
                el Responsable detecta que un menor de 14 años ha proporcionado datos de carácter personal, procederemos a la 
                cancelación de los mismos. Asimismo, los padres o tutores podrán en cualquier caso dirigirse a SCIENCE FOR 
                CHANGE para bloquear la cuenta de acceso de los menores a su cargo que se hubieran registrado falseando su 
                identidad.

            </p>
            
            <h3 class="title-l">
                Medidas de seguridad
            </h3>
            <p>
                En SCIENCE FOR CHANGE tratamos sus datos de manera lícita y en cumplimiento de la normativa vigente en materia 
                de protección de datos. Con este objetivo, hemos implementado medidas de seguridad de índole técnica y 
                organizativas que permiten garantizar la seguridad de los datos personales del usuario y evitar su alteración, 
                pérdida, tratamiento y acceso no autorizado, así como para evitar cualquier otro riesgo no permitido al que 
                puedan estar expuestos.
            </p>

            <h1 class="headline-m text-center">
                Política de cookies
            </h1>
            <p>
                Nuestro sitio web utiliza cookies, como lo hacen casi todos los sitios web, para ayudarlo a brindarle la mejor
                experiencia posible.
            </p>
            <p>
                Las cookies son pequeños archivos de texto que se colocan automáticamente en su computadora o dispositivo 
                móvil cuando visita casi cualquier sitio web. Se almacenan en su navegador de Internet. Las cookies contienen 
                información básica sobre su uso de Internet, pero normalmente no lo identifican personalmente. Su navegador 
                envía estas cookies al sitio cada vez que lo vuelve a visitar, para que pueda reconocer su computadora o 
                dispositivo móvil y personalizarlo en consecuencia para mejorar su experiencia en el sitio.
            </p>
            <p>
                Usamos algunas cookies que son necesarias para ayudarlo a acceder y moverse por nuestros sitios y utilizar 
                todas sus funciones. Sin estas cookies, nuestros sitios web no funcionarían correctamente y usted no podría 
                utilizar ciertas funciones importantes. También utilizamos cookies para ayudarnos a comprender cómo se utiliza 
                nuestro sitio web y cómo podemos mejorar su experiencia en él. Esto nos proporciona información anónima para 
                ayudarnos a comprender qué partes de nuestro sitio son de mayor interés para nuestros visitantes y monitorear 
                cómo nos llegan. Estas cookies se denominan comúnmente cookies de 'análisis' y 'rendimiento'.
            </p>
            <div class="table-responsive">
                <table>                
                    <thead>
                        <th>Cookie</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Explanation</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>_ga</td>
                            <td>Request</td>
                            <td>2 years</td>
                            <td>Google Analytics</td>
                        </tr>
                        <tr>
                            <td>_gid</td>
                            <td>Request</td>
                            <td>24 hours</td>
                            <td>Google Analytics</td>
                        </tr>
                        <tr>
                            <td>XSRF_TOKEN</td>
                            <td>Request, Response</td>
                            <td>2 hours</td>
                            <td>Token to keep session</td>
                        </tr>   
                        <tr>
                            <td>laravel_session</td>
                            <td>Request, Response</td>
                            <td>2 hours</td>
                            <td>Laravel</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                Tomamos su respuesta al mensaje emergente que se muestra en nuestro sitio web, y el uso continuo de nuestro 
                sitio web, como su consentimiento. Si lo desea, puede desactivar ciertas cookies no esenciales que se 
                bloquearán durante su navegación en nuestro sitio web, cambiando la configuración de cookies de su navegador.
            </p>
            <p>
                Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas 
                les será de aplicación la Política de Privacidad anteriormente descrita. En este sentido, para la utilización 
                de las mismas será necesario el consentimiento del Usuario. Este consentimiento debe comunicarse, de acuerdo 
                con una elección auténtica, ofrecido mediante una decisión afirmativa y positiva, antes del tratamiento inicial, 
                removible y documentado.
            </p>
        </div>
    </section>
</article>