@import "../../../../../styles/colors";
#header{
  padding: 23px 17px 0;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 10px 10px white;
  z-index: 1;
  h1{
      padding-top: 15px;
  }
  &::after {
      content: " ";
      display: block;
      width: 17px;
  }
}
article {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 60px;
  place-content: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;

  section,
  form {
    padding-left: 45px;
    padding-right: 45px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 11px;
    p {
      color: $grey-dark;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    div:nth-child(2) > div:nth-child(1) {
      width: 54%;
    }
    div:nth-child(2) > div:nth-child(2) {
      width: 46%;
    }
    label {
      margin-bottom: 5px;
      text-align: start;
      width: 100%;
    }
    select {
      width: 100%;
      padding: 11.2px 15px;
    }
    select {
      padding-right: 30px;
    }
    button[type="submit"] {
      color: $black;
      margin-top: 1rem;
      width: 100%;
    }
    .btn:disabled {
      background-color: $violet-light;
      color: $black;
    }
  }
}

