<div id="header">
  <app-back-btn/>
</div>
<article *ngIf="!activateAccount; else notActivate">
  <section>
    <h1 class="headline-m">
      ¡Te damos la<br />
      bienvenida a<br />
      OudorCollect!
    </h1>
    <p>
      Introduce tus datos<br />
      para crear tu cuenta
    </p>
  </section>
  <form [formGroup]="signUpForm">
    <ng-container formGroupName="relationships">
      <div formGroupName="profile">
        <div class="mb-3">
        
          <label for="name" class="label-l">Nombre</label>
          <input formControlName="name" type="text" class="border-input" name="name"/>
          <app-form-error-list *ngIf="signUpForm.get('userable.name')?.touched && signUpForm.get('userable.name')?.errors" [errorList]="signUpForm.get('userable.name')?.errors"/>
          
        </div>      
        <div class="mb-3 d-flex gap-3 justify-content-between">
          <div class="d-flex flex-column justify-content-between">

            <label for="birth_year" class="label-l">Año de nacimiento</label>
            <select formControlName="birth_year" name="birth_year" class="form-select">
              <option value="{{ year }}" *ngFor="let year of years">
                {{ year }}
              </option>
            </select>
            <app-form-error-list *ngIf="signUpForm.get('userable.birth_year')?.touched && signUpForm.get('userable.birth_year')?.errors" [errorList]="signUpForm.get('userable.birth_year')?.errors"/>

          </div>
          <div class="d-flex flex-column justify-content-between">
            
            <label for="gender" class="label-l">Género</label>
            <select formControlName="gender" name="gender" class="form-select">
              <option value="mujer">Mujer</option>
              <option value="hombre">Hombre</option>
              <option value="no binarie">No binarie</option>
              <option value="otros">Otros</option>
              <option value="prefiere no decir">Prefiere no decir</option>
            </select>
            <app-form-error-list *ngIf="signUpForm.get('userable.gender')?.touched && signUpForm.get('userable.gender')?.errors" [errorList]="signUpForm.get('userable.gender')?.errors"/>

      
          </div>
        </div>
      </div>
    </ng-container>
    <div class="mb-3">

      <label for="email" class="label-l">Correo electrónico</label>
      <input formControlName="email" type="email" class="border-input" name="email"/>
      <app-form-error-list *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors" [errorList]="signUpForm.get('email')?.errors"/>


    </div>
    <div class="mb-3">

      <label for="password" class="label-l">Elige una contraseña</label>
      <div class="border-input input-password">
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="border-input" name="password"/>
        <button tabindex="-1" type="button" (click)="toggleShowPassword()">
          <icon-eye *ngIf="!showPassword"></icon-eye>
          <icon-close-eye *ngIf="showPassword"></icon-close-eye>
        </button>
      </div>
      <app-form-error-list *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors" [errorList]="signUpForm.get('password')?.errors"/>

    </div>
    <div class="mb-3">
      <label for="password_confirmation" class="label-l">Confirma tu contraseña</label>

      <div class="border-input input-password">
        <input formControlName="password_confirmation" [type]="showConfirmPassword ? 'text' : 'password'" class="border-input" name="password_confirmation"/>
        <button tabindex="-1" type="button" (click)="toggleShowConfirmPassword()">
          <icon-eye *ngIf="!showConfirmPassword"></icon-eye>
          <icon-close-eye *ngIf="showConfirmPassword"></icon-close-eye>
        </button>
      </div>
      <app-form-error-list *ngIf="signUpForm.get('password_confirmation')?.touched && signUpForm.get('password_confirmation')?.errors" [errorList]="signUpForm.get('password_confirmation')?.errors"/>

    </div>    
    <div class="d-flex flex-column mb-3">

      <div class="d-flex gap-2">
        <input formControlName="dpo" type="checkbox" name="dpo" id="dpo">
        <label class="label-l" for="dpo">
          Documento de Información Voluntaria sobre la Protección de Datos Peronales.
        </label>
      </div>
      <app-form-error-list *ngIf="signUpForm.get('dpo')?.touched && signUpForm.get('dpo')?.errors" [errorList]="signUpForm.get('dpo')?.errors"/>


    </div>
    <div class="d-flex flex-column mb-3">

      <div class="d-flex gap-2">
        <input formControlName="etic" type="checkbox" name="etic" id="etic">
        <label class="label-l" for="etic">
          Documento de Información Voluntaria sobre Cuestiones Humanas y Otras Cuestiones Éticas. 
        </label>
      </div>
      <app-form-error-list *ngIf="signUpForm.get('etic')?.touched && signUpForm.get('etic')?.errors" [errorList]="signUpForm.get('etic')?.errors"/>

    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" [disabled]="!signUpForm.valid || loading" class="btn btn-primary" (click)="send()" [ngClass]="{ loading: loading }">
        Registrarme
      </button>
    </div>
  </form>
</article>
<ng-template #notActivate>
  <app-activate-account
    [activateAccount]="toggleActivateAccount"
  ></app-activate-account>
</ng-template>
