<article class="container">
  <header>
    <app-back-btn *ngIf="activeStep === 0; else backStep">Volver</app-back-btn>
    <ng-template #backStep>
      <button (click)="goStepBack()" id="stepBackBtn">
        <icon-arrow-left></icon-arrow-left>
      </button>
    </ng-template>
  </header>
  <form
    [formGroup]="addOdourForm"
    class="justify-content-start align-items-center pb-5"
  >
    <section *ngIf="dataLoaded; else loading" class="mb-4">
      <app-type-details
        *ngIf="activeStep === 0"
        [typeDetails]="currentGroup"
        [types]="types"
      />
      <app-subtype-details
        *ngIf="activeStep === 1"
        [subtypeDetails]="currentGroup"
        [subtypes]="subtypes"
        [selectedType]="selectedType"
        [hedonicTone]="hedonicTone"
        [intensity]="intensity"
      />
      <app-comment-details
        *ngIf="activeStep === 2"
        [commentDetails]="currentGroup"
        [selectedType]="selectedType"
      />
    </section>
    <ng-template #loading>
      <app-spinner />
    </ng-template>
    <button
      class="btn btn-primary btn-lg"
      *ngIf="dataLoaded && activeStep === 1"
      (click)="next()"
    >
      Siguiente
    </button>
    <button
      class="btn btn-primary btn-lg"
      *ngIf="activeStep === 2"
      (click)="addNewOdor()"
      type="submit"
    >
      Añadir olor al mapa
    </button>
  </form>
</article>
