<section>
  <h2 class="headline-m">Preguntas Técnicas</h2>
  <app-accordion [title]="'¿Cómo se utilizarán mis observaciones de olor?'">
    <p>
      Las observaciones están abiertas a consulta pública y son descargables a
      través de la web OdourCollect.eu. Eventualmente, podrían usarse para
      demostrar problemas de contaminación odorífera y pedir acción a las partes
      interesadas relevantes para eliminar o reducir significativamente las
      molestias. Así mejoraría la calidad de vida de la ciudadanía.
    </p>
  </app-accordion>
  <app-accordion [title]="'¿Qué es un episodio de olor?'">
    <p>
      Un episodio de olor ocurre cuando mínimo dos personas perciben un olor
      específico en un lugar, y estos registros de olor se agrupan en un período
      máximo de 4 horas. Este acontecimiento puede durar un momento o puede
      prolongarse durante varias horas. Además, un episodio de olor puede estar
      relacionado con una o varias actividades que se estén haciendo en esa
      zona.
    </p>
  </app-accordion>
  <app-accordion
    [title]="'¿Cómo se garantiza la calidad de los datos recolectados?'"
  >
    <p>
      La calidad de los registros de olor recolectados se verifica mediante la
      comparación con otras herramientas externas y objetivas, por ejemplo,
      comprobando si se han producido registros de olor repetidos en la misma
      área del proyecto en el intervalo de tiempo del episodio. Otras
      comparaciones se pueden hacer con los datos meteorológicos, modelos de
      dispersión atmosférica, los datos de proceso industriales para evaluar la
      procedencia del olor.
    </p>
    <p>
      Este tipo de comprobaciones no descarta ningún registro de olor ni lo
      considera como erróneo, simplemente pretende validar que el registro tenga
      congruencia con el paisaje olfativo presente en la zona. Garantizar la
      calidad de los datos permite evitar tener registros de olor con ausencia
      de objetividad.
    </p>
  </app-accordion>
</section>
