<article>
    <div id="header">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
    </div>
    <section>
        <div class="d-flex justify-content-center align-items-center gap-3 pb-5">
            <h1 class="headline-m text-center ps-4 pe-4">
                ¿Qué es intensidad y la agradabilidad de un olor?
            </h1>
        </div>
        <div class="d-flex flex-column gap-4">
            <div class="d-flex">
                <icon-chart class="ps- pe-2"/>
                <div class="w-100 d-flex flex-column gap-4">
                    <p>
                        La <span class="color-violet">intensidad de un olor</span> 
                        es como el volumen de una canción. 
                        El volumen puede ser alto o bajo, según si estás cerca o 
                        lejos del altavoz, o bien si el grupo toca más flojo o más fuerte. 
                    </p>
                    <p>
                        Así, la intensidad de un olor también depende de lo fuerte o débil 
                        que percibas un olor con tu nariz. Si casi no lo percibes o no lo 
                        puedes reconocer, tendrá una intensidad muy débil, y si lo puedes 
                        identificar con mucha facilidad tendrá una intensidad extremadamente fuerte.
                    </p>
                </div>
            </div>
            <div class="d-flex">
                <icon-happy-face class="ps- pe-2"/>
                <div class="w-100 d-flex flex-column gap-4">
                    <p>
                        La <span class="color-violet">agradabilidad</span> 
                        o tono hedónico de un olor tiene que ver con el placer o la repulsión 
                        que generan los olores. Los olores, como los colores o los sabores, 
                        pueden gustarte o no.  
                    </p>
                    <p>
                        Con la agradabilidad podrás indicar si el olor que percibes es más 
                        o menos placentero según tus gustos.
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>