<article class="d-flex flex-column">  
    <div id="header" class="d-flex gap-3 justify-content-between align-items-center">
        <button class="close-offcanvas" (click)="offcanvas.close()"><icon-arrow-left/></button>
        <h1 class="title-m text-center">Sobre esta zona de estudio</h1>
    </div>
    <section class="d-flex h-100 flex-column justify-content-center gap-4">
        <icon-odour-collect class="align-self-center m-4"/>
        <p>
            OdourCollect permite mapear, valorar y compartir observaciones de olor
            en cualquier momento y lugar a través de la ciencia ciudadana.
        </p>
        <p>
            Integramos los datos obtenidos en un mapa colaborativo que nos indica la
            situación odorífera de cada región en tiempo real.
        </p>
        <p>
            Este conocimiento olfativo contribuye en la toma de decisiones
            informadas en evidencias, generando un impacto positivo en la comunidad.
        </p>
        <a rel="nofollow" class="body-l color-violet d-inline-flex gap-2 mt-auto" target="_blank" href="https://www.scienceforchange.eu/proyectos/odourcollect">
            Saber más<icon-arrow-right2/>
        </a>
    </section>
</article>
