<article>
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="logo">
    <icon-odour-logo></icon-odour-logo>
    <div>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">
        <button class="btn btn-primary">Iniciar Sesión</button>
      </a>
      <a [routerLink]="['/onboarding']" routerLinkActive="router-link-active">
        <button class="btn btn-primary">Empezar</button>
      </a>
    </div>
  </div>
</article>
