@import "../../../../../styles/colors";

article {
  background: #d5cfba;
  height: 100%;
  margin: 0;
}

article > div:nth-child(1) {
  position: relative;
  animation: slidein 1s ease 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  span {
    position: absolute;
  }
  span:nth-child(1) {
    width: 70vw;
    height: 60vh;
    border-radius: 100%;
    background: radial-gradient(circle, transparent 0%, #d7b1f2 30%);
    filter: blur(25px);
    top: -18%;
    left: -28%;
  }
  span:nth-child(2) {
    width: 80vw;
    height: 20vh;
    border-radius: 100%;
    background: radial-gradient(circle, #ff620070 5%, #d7b1f2 30%);
    filter: blur(17px);
    transform: rotate(-51deg);
    top: -3%;
    right: -45%;
  }
  span:nth-child(3) {
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    background: #d7b1f2;
    filter: blur(33px);
    top: 35%;
    right: -35px;
  }
  span:nth-child(4) {
    width: 62vw;
    height: 48vw;
    border-radius: 100%;
    background: #d7b1f2;
    filter: blur(33px);
    top: 44%;
    left: -70px;
  }
  span:nth-child(5) {
    width: 49vw;
    height: 60vw;
    border-radius: 100%;
    background: #d7b1f2;
    filter: blur(13px);
    bottom: -10%;
    right: -70px;
  }
}

.circles {
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  li {
    border-radius: 100%;
    background: rgba(255, 98, 0, 1);
    animation: animate 10s linear infinite alternate;
    position: absolute;
    list-style: none;
  }
  li:nth-child(1) {
    top: 32%;
    width: 50vw;
    height: 30vw;
    transform: rotate(-45deg);
    filter: blur(30px);
    box-shadow: 0 0 100px 30px #ff6200;
    left: -15%;
  }
  li:nth-child(2) {
    width: 56vw;
    height: 34vw;
    transform: rotate(56deg);
    filter: blur(14px);
    left: 25%;
    top: 50%;
    background: linear-gradient(180deg, #ff6200 25%, rgba(255, 98, 0, 0));
  }
  li:nth-child(3) {
    top: 57%;
    width: 70vw;
    height: 70vw;
    filter: blur(30px);
    background: linear-gradient(-120deg, #ff6200 25%, rgba(255, 98, 0, 0) 100%);
    left: 10%;
  }
  li:nth-child(4) {
    right: -18%;
    top: 45%;
    width: 50vw;
    height: 50vw;
    filter: blur(20px);
    background: linear-gradient(330deg, #ff6200 40%, rgba(255, 98, 0, 0));
    transform: rotate(45deg);
  }
}

.logo {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 360px;
  a {
    text-decoration: none;
  }
  button {
    border: 1px solid $black;
    background: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    &:hover,
    &:active {
      border: 1px solid $violet;
      color: $violet;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(50px) rotate(0deg);
  }

  100% {
    transform: translateY(-200px) rotate(90deg);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
