<header>
  <div>
    <app-back-btn />
    <p>Mis olores</p>
  </div>
  <div>
    <select class="form-select" (change)="sortedBy($event)">
      <option selected value="createdAt_desc">Más reciente</option>
      <option value="createdAt_asc">Más antigua</option>
    </select>
    <button (click)="toggleFilters()"><icon-filter /> Filtrar</button>
    <label class="input-group">
      <span class="input-group-text">
        <icon-search />
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Buscar"
        aria-label="Buscar"
        (keyup)="filterByName(searchInput.value)"
        #searchInput
      />
    </label>
  </div>
</header>
<section>
  <p class="label-m">{{ observations?.length }} registros</p>
  <ul>
    <li *ngFor="let observation of observations">
      <app-my-odour-card
        [observation]="observation"
        (deleteObservation)="send($event)"
      />
    </li>
    <li *ngIf="!observations?.length" id="no-observation-card">
      <article>
        <header>
          <h2 class="body-l">No tienes ninguna observación creada</h2>
        </header>
        <a routerLink="/create-odour" routerLinkActive="active"
          >¡Crear una observación!</a
        >
      </article>
    </li>
  </ul>
</section>
<app-filters
  [isOpen]="isOpenFilters"
  (toggleFilters)="toggleFilters()"
  (filterObservations)="filterObservations($event)"
  (resetFilters)="resetFilters()"
/>
