@import "../../../../../styles/colors";

#header{
    padding: 23px 17px 0;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 10px 10px white;
    z-index: 1;
    h1{
        padding-top: 15px;
    }
    &::after {
        content: " ";
        display: block;
        width: 17px;
    }
}
article{
    padding: 48px 30px 60px;
    ul{
        gap: 38px 38px;
        img{
            min-height: 80px;
            min-width: 80px;
            border: 1px solid transparent;
            &.selected{
                border-color: $violet;
            }
        }
    }
}