<div id="header" class="d-flex gap-3 justify-content-between align-items-center">
  <app-back-btn/>
  <h1 class="text-center">Edit Avatar</h1>
</div>
<article *ngIf="user">
    <section *ngIf="!loading; else spinner">
      <ul class="d-flex justify-content-center flex-wrap">
        <li class="d-flex" *ngFor="let item of [].constructor(18); let i = index">
          <img [src]="'/assets/images/avatars/' + (i + 1) + '.svg'" [ngClass]="{'selected' : user.avatar_id === (i + 1)}" (click)="selectNewAvatar($event, i+1)" />
        </li>
      </ul>
    </section>
    <ng-template #spinner>
        <app-spinner />
    </ng-template>
</article>