@import "../../../../../styles/colors";

#header{
    position: sticky;
    top: 0;
    padding: 22px 28px 18px;
    border-bottom: 1px solid $grey-light;
    background-color: white;
    button{
        background-color: transparent !important;
        border: none;
        padding: 0;
        margin: 0;
        color: $black;
        max-height: fit-content;
        max-width: max-content;
        display: inline-flex;
        height: auto;
    }
    a{
        text-decoration: none;
        color: $black;
    }
}
article{
    padding: 48px 30px 60px;
    ul{
        gap: 38px 38px;
        img{
            min-height: 80px;
            min-width: 80px;
            border: 1px solid transparent;
            &.selected{
                border-color: $violet;
            }
        }
    }
}