<div ngbAccordion #accordion="ngbAccordion">
  <div ngbAccordionItem="first">
    <div class="d-flex align-items-center">
      <button
        id="button-check"
        [ngClass]="isChecked ? 'checked' : ''"
        (click)="toggleTouch()"
      >
        <span></span>
      </button>
      <button ngbAccordionButton>
        {{ title }}
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <ng-content />
        </ng-template>
      </div>
    </div>
  </div>
</div>
