<article>
  <section>
    <h1 class="headline-m">
      Crea una nueva <br />
      contraseña
    </h1>
    <p>
      Debe ser diferente de tus <br />
      contraseñas anteriores y tener <br />
      al menos 8 caracteres.
    </p>
  </section>
  <form [formGroup]="createPasswordRecover">
    <div class="mb-3">

      <label for="password" class="label-l">Contraseña</label>
      <div class="border-input input-password">
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="border-input" name="password"/>
        <button type="button" tabindex="-1" (click)="toggleShowPassword()">
          <icon-eye *ngIf="!showPassword"></icon-eye>
          <icon-close-eye *ngIf="showPassword"></icon-close-eye>
        </button>
      </div>
      <app-form-error-list 
        *ngIf="createPasswordRecover.get('password')?.touched && createPasswordRecover.get('password')?.errors" 
        [errorList]="createPasswordRecover.get('password')?.errors"/>

    </div>
    <div class="mb-3">

      <label for="password_confirmation" class="label-l">Introduce tu contraseña</label>
      <div class="border-input input-password" [ngClass]="passwordMatchError ? 'invalid-input border-input input-password' : 'border-input input-password'">
        <input formControlName="password_confirmation" [type]="showConfirmPassword ? 'text' : 'password'" class="border-input" name="password_confirmation" />
        <button type="button" tabindex="-1" (click)="toggleShowConfirmPassword()">
          <icon-eye *ngIf="!showConfirmPassword"></icon-eye>
          <icon-close-eye *ngIf="showConfirmPassword"></icon-close-eye>
        </button>
      </div>
      <app-form-error-list 
        *ngIf="createPasswordRecover.get('password_confirmation')?.touched && createPasswordRecover.get('password_confirmation')?.errors" 
        [errorList]="createPasswordRecover.get('password_confirmation')?.errors"/>


    </div>

    <a class="label-l" [routerLink]="['/recover-password']" routerLinkActive="active">¿Olvidaste tu contraseña?</a>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        [disabled]="!createPasswordRecover.valid || loading"
        class="btn btn-primary"
        (click)="send()"
        [ngClass]="{'loading':loading}"
      >
        Entrar
      </button>
    </div>
  </form>
</article>
