<section [ngClass]="[isOpen ? 'open-filter' : 'closed-filter']">
  <button (click)="onClick()" id="addObservation"></button>
  <div>
    <article>
      <header>
        <button
          type="button"
          (click)="toggleLastOdours()"
          class="close"
        ></button>
      </header>
      <h3 class="headline-s">Mis últimos olores <br/> registrados</h3>
      <div>
        <ul>
          <li *ngFor="let observation of userObservations">
            <p class="body-l">
              {{ observation.relationships.odourSubType.name }}
            </p>
            <a
              routerLink="/create-odour"
              [queryParams]="{
                type: observation.relationships.odourSubType.relationships
                  ?.odourType?.id,
                subtype: observation.relationships.odourSubType.id
              }"
              class="body-l"
              >Añadir</a
            >
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
