@import '../../../../styles/colors';

dialog {
  border: none;
  background: white;
  border-radius: 40px 40px 0 0;
  bottom: -100dvh;
  margin: 0 auto;
  max-width: 425px;
  padding: 30px 20px 34px;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: none;
  &.open-filter {
    display: block;
    animation: animation-fade-in 400ms ease-in-out forwards;
  }
  &.closed-filter {
    animation: animation-fade-out 400ms ease-in-out forwards;
  }
  > div {
    position: relative;
    width: 100%;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    .close {
      background-color: transparent;
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: auto;
      min-width: auto;
      padding: 0;
      position: absolute;
      right: 28px;
      top: 8px;
      width: 25px;
    }
    .close::after,
    .close::before {
      background: $grey-light;
      border-radius: 3px;
      content: ' ';
      height: 3px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .close::after {
      transform: rotate(-45deg);
    }
    .close::before {
      transform: rotate(45deg);
    }
  }
}

@keyframes animation-fade-in {
  0% {
    bottom: -100dvh;
  }
  100% {
    bottom: 0;
  }
}
@keyframes animation-fade-out {
  0% {
    bottom: 0;
    display: block;
  }
  100% {
    display: none;
    bottom: -100dvh;
  }
}
