<section class="mt-4">
  <div>
    <img
      src="../../../../../assets/images/avatar-oc.svg"
      alt="odour colect avatar"
      width="42"
      height="42"
    />
    <div>
      <p class="label-l">¿En qué te podemos ayudar?</p>
    </div>
  </div>
  <form [formGroup]="contactForm" class="d-flex flex-column gap-4 align-items-center">
    <div class="d-flex justify-content-start flex-column w-100">
      <textarea
        #comment
        (input)="resizeTextArea()"
        rows="5"
        required
        formControlName="comment"
        aria-label="comment"
      ></textarea>
      <app-form-error-list
        *ngIf="
          contactForm.get('comment')?.touched &&
          contactForm.get('comment')?.errors
        "
        [errorList]="contactForm.get('comment')?.errors"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      [disabled]="!contactForm.valid || loading"
      (click)="send()"
      [ngClass]="{ loading: loading }"
    >
      Enviar consulta
    </button>
  </form>
</section>
